{% extends 'blog/base.html' %}
{% block content %}

<div class="jumbotron">

  <h2>{{object.title}}</h2>
      <ul>
        <li>{{object.start_date}}</li>
        <li>{{object.end_date}}</li>
        <li>{{object.amount_per_day}}</li>
        <li>{{object.amount_per_month}}</li>
        <li>{{object.status }}</li>
        <li><img src="{{object.start_date_pic}}" alt="start_date"></li>
        <li><img src="{{object.end_date_pic}}" alt="end_date"></li>
      </ul>

</div>

<div class="container">
  <div class="btn-group" role="group">
    <button type="submit" formaction="" class="btn btn-default btn-success">Accept</button>
    <button type="submit" formaction="" class="btn btn-default btn-danger">Reject</button>
    <a href="#">New Button</a>
  </div>
</div>

<div class="container">
  <div class="">

  </div>

</div>


{% endblock %}
