{% extends 'blog/base.html' %}
{% block content %}

<div class="jumbotron">

    <div class="container">
      <form class="" action="{% url 'blog:index' %}" method="post">
        {% csrf_token %}
        <label for="Username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" name="" value="Login">
      </form>

    </div>
</div>




{% endblock %}
